extends ./extends/layout.jade

block title
  title Design, Web, MKT Digital - DGTAL Studio

block critical
  +critical('/*{index.css}*/')

block content
  main.construcao(role='main')
    svg#fp.construcao__logo(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 300 300')
      path(fill='none', stroke='#FFFFFF', stroke-width='10', stroke-linecap='round', stroke-miterlimit='10', d='M115.6408,277.30676c0,0,18.19842-26.83191,16.97387-74.52979')
      path(fill='none', stroke='#FFFFFF', stroke-width='10', stroke-linecap='round', stroke-miterlimit='10', d='M95.10065,267.54999c0,0,17.00723-22.76204,16.80009-57.00034c-0.2-33.06023,23.70013-28.56393,23.70013-28.56393s19.4749,0.96379,18.90012,26.46393c-0.58354,25.88759-7.50005,50.70029-17.4001,73.80042')
      path(fill='none', stroke='#FFFFFF', stroke-width='10', stroke-linecap='round', stroke-miterlimit='10', d='M78.10056,252.34988c0,0,16.00009-16.00008,13.40008-42.60023s20.00011-47.80026,45.00024-45.00024s40.20023,14.60008,39.80022,46.60027c-0.39999,32.00017-11.20006,57.78619-16.20009,69.59332')
      path(fill='none', stroke='#FFFFFF', stroke-width='10', stroke-linecap='round', stroke-miterlimit='10', d='M61.64321,234.72556c0,0,7.79963-11.84888,8.09964-23.84894c0.3-12.00008,10.72802-74.78719,71.9968-67.04703c64.35474,8.13002,54.76158,68.52008,54.76158,68.52008s-2.70001,51.30029-13.50008,59.70032')
      path(fill='none', stroke='#FFFFFF', stroke-width='10', stroke-linecap='round', stroke-miterlimit='10', d='M48.9004,204.84962c0,0,9.70231-90.65884,95.98909-81.26913s73.02515,87.56916,66.06845,134.36942')
      path(fill='none', stroke='#FFFFFF', stroke-width='10', stroke-linecap='round', stroke-miterlimit='10', d='M42.74405,160.92883c0,0,32.39856-71.54681,108.45692-58.37977c73.23186,12.67773,90.30049,76.80042,87.30048,122.70068')
      path(fill='none', stroke='#FFFFFF', stroke-width='10', stroke-linecap='round', stroke-miterlimit='10', d='M34.54655,133.92648c0,0,44.62371-66.17814,119.96691-52.19412c77.32605,14.35204,86.73174,58.46823,100.62114,100.04774')
      path(fill='none', stroke='#FFFFFF', stroke-width='10', stroke-linecap='round', stroke-miterlimit='10', d='M40.81887,95.05603c0,0,53.07375-46.46574,116.22009-33.57277c66.11647,13.4994,94.88441,50.84774,108.41451,77.84654')
      path(fill='none', stroke='#FFFFFF', stroke-width='10', stroke-linecap='round', stroke-miterlimit='10', d='M65.10049,54.23487c0,0,44.16093-21.01517,93.38402-14.35065c49.85217,6.7497,82.18176,32.77591,99.34996,49.02858')
      path(fill='none', stroke='#FFFFFF', stroke-width='10', stroke-linecap='round', stroke-miterlimit='10', d='M96.74165,25.03488c0,0,57.41695-24.262,129.05402,15.76776')
    svg.construcao__logotipo
      use(xlink:href='#dgtal') DGTAL Studio
    header.construcao__titulo
      h1
        | DESIGN
        span /
        | WEB
        span /
        | DIGITAL MKT 
    section.construcao__info
      svg.construcao__icon.construcao__icon--coffee
        use(xlink:href='#coffee') café
      p
        | Desculpe, mas acabou de sair um café fresquinho...
        br
        | voltamos em breve!
      p
        span É urgente? mande um 
        a.construcao__link(href="mailto:contato@dgtalstudio.com")
          svg.construcao__icon.construcao__icon--mail
            use(xlink:href='#envelope') email
    #particlesJs

block append scripts
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-80843737-1', 'auto');
    ga('send', 'pageview');

  script(src='js/lib/particles.js/particles.js')
  script.
    particlesJS("particlesJs", {
      "particles": {
        "number": {
          "value": 80,
          "density": {
            "enable": true,
            "value_area": 800
          }
        },
        "color": {
          "value": "#ffffff"
        },
        "shape": {
          "type": "circle",
          "stroke": {
            "width": 0,
            "color": "#000000"
          },
          "polygon": {
            "nb_sides": 5
          },
          "image": {
            "src": "img/github.svg",
            "width": 100,
            "height": 100
          }
        },
        "opacity": {
          "value": 0.5,
          "random": false,
          "anim": {
            "enable": false,
            "speed": 1,
            "opacity_min": 0.1,
            "sync": false
          }
        },
        "size": {
          "value": 3,
          "random": true,
          "anim": {
            "enable": false,
            "speed": 40,
            "size_min": 0.1,
            "sync": false
          }
        },
        "line_linked": {
          "enable": true,
          "distance": 150,
          "color": "#ffffff",
          "opacity": 0.4,
          "width": 1
        },
        "move": {
          "enable": true,
          "speed": 6,
          "direction": "none",
          "random": false,
          "straight": false,
          "out_mode": "out",
          "bounce": false,
          "attract": {
            "enable": false,
            "rotateX": 600,
            "rotateY": 1200
          }
        }
      },
      "interactivity": {
        "detect_on": "canvas",
        "events": {
          "onhover": {
            "enable": false,
            "mode": "grab"
          },
          "onclick": {
            "enable": false,
            "mode": "push"
          },
          "resize": true
        },
        "modes": {
          "grab": {
            "distance": 140,
            "line_linked": {
              "opacity": 1
            }
          },
          "bubble": {
            "distance": 400,
            "size": 40,
            "duration": 2,
            "opacity": 8,
            "speed": 3
          },
          "repulse": {
            "distance": 200,
            "duration": 0.4
          },
          "push": {
            "particles_nb": 4
          },
          "remove": {
            "particles_nb": 2
          }
        }
      },
      "retina_detect": true
    });
